#paciente-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#formulario-actualizar {
    display: none;
}

#lista-pacientes {
    list-style-type: none;
    padding: 0;
}

#lista-pacientes li {
    margin-bottom: 10px;
}

#lista-pacientes li span {
    font-weight: bold;
    margin-right: 10px;
}

#lista-pacientes li button {
    background-color: #f44336;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 5px;
}

#lista-pacientes li button:hover {
    background-color: #d32f2f;
}
